
.custom-navbar{
    
    background-color: #0c2035;
    height: 5em;

    
}
.custom-navbar a {
    color: whitesmoke;
    font-size: 1.5em;
    
    
}
#contenedor-navbar{
    position: fixed;
    z-index: 100;
    width: 100%;
}

/*ACA TERMINA NAVBAR*/
#seccion-formulario{
    background-color: 2c475f;
    
}
#titulo-servicios{
    color: whitesmoke;
    text-align: center;
    margin: 2em;
}

.accordion .accordion-header {
    background-color: #0c2035 ;
    color: whitesmoke;
}
.accordion-button {
    color:whitesmoke;
}

.accordion .accordion-body {
    background-color: #0c2035; 
    color: whitesmoke;
}
.accordion .accordion-button.collapsed {
    background-color: #0c2035; 
    color: whitesmoke;
}
.accordion-body{
    height: 20em;
}
.accordion{
    width: 60em;
    margin: 0 auto;
    background-color: #0c2035;
}


.custom-cards{
    background-color: #0c2035;
    text-align: center;
    justify-content: center;
    padding-top: 5em;
    

}
.card-body{
    background-color: #2c475f;
    height: 23em;

}
p {
    color: whitesmoke;
}
#card-title1{
    color: whitesmoke;
      
}
#card-title2{
    color: whitesmoke;
      
}
#card-title3{
    color: whitesmoke;
      
}
/* */

#nombre-form{
    width: 30em;
    margin: 0 auto;
    padding-top: 2em;
}
#email-form {
    width: 30em;
    margin: 0 auto;
}
.fondo{
    background-color: #0c2035; /*#2c475f*/
    padding-top: 3em;
}
#titulo-form{
    color: whitesmoke;
    text-align: center;
    
}
#monto-form{
    width: 30em;
    margin: 0 auto;
}
#select2{
    width: 30em;
    margin: auto;
    margin-bottom: 1em;
}

#select{
    
    width: 30em;
    margin: auto;
    margin-bottom: 1em;
}
label{
    color: whitesmoke;
    

}
#aaa{
    display: block;
    margin: 0 auto;
    width: 18em;
    margin-bottom: 2em;

}
#check-form{
    color: whitesmoke;
}

.card-body2{
    background-color: #2c475f;
   height: 100%;

}
#card-title4{
    padding-top: 0.2em;
    color: whitesmoke;
    font-size: 3em;
    text-align: center;
}

.card-text-custom{
    color:whitesmoke;
    padding: 0 3em;
    font-size: 1.3em;
    margin-top: 2em;
}
#botonera{
    text-align: center;
    padding-bottom: 2em;
}

#footer{
    background-color: #2c475f;
    height: 5em;
}
#footer a{
    color: whitesmoke;
}