body {
    margin: 0;
    padding: 0;
    font-family: Consolas, sans-serif;
    background-color: #0c2035;
    }

.custom-navbar {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr; /* Modificado: Cambiado el orden de las columnas */
    align-items: center;
    background-color: #0c2035;
    color: whitesmoke;
    padding: 10px;
    }

.custom-navbar .navbar-logo {
    grid-column: 1; /* Modificado: Posiciona la columna del logo en la primera posición */
    }

.custom-navbar .navbar-links {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    justify-self: start; /* Modificado: Alinea los enlaces a la izquierda */
    }

.custom-navbar .navbar-links .nav-link:first-child {
    margin-left: 20px; /* Modificado: Agrega margen izquierdo */
    }
  
.custom-navbar a {
    color: whitesmoke;
    font-size: 1.5em;
    align-items: start;
    font-family: sans-serif;
    transition: color 0.3s;
    }

.custom-navbar a:hover {
    color: wheat;
}

.navbar-logo {
    img {
        max-height: 40px;
        vertical-align: middle;
    }
}

#img{                 /*Modificado: Sombra y animación ícono*/
    margin: 0;
}

#img:hover{
    filter:drop-shadow(0px 0px 30px #50ffff);
    cursor: pointer;
}



.navbar-links {
    display: grid;
    grid-auto-flow: column;
    gap: 50px;
}


/* Generaba conflicto con las modificaciones de 
posicionamiento, puse el :hover en .custom-navbar a

.nav-link {
    text-decoration: none;
    color: whitesmoke;
    transition: color 0.3s;


.nav-link :hover {
    color: wheat;
}*/

.navbar-toggler {
    display: none;
    cursor: pointer;
}

.navbar-icon {
    display: block;
    width: 30px;
    height: 2px;
    background-color: whitesmoke;
    position: relative;
}





/* .navbar-icon:before, .navbar-icon:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.navbar-icon:before {
    top: -10px;
}

.navbar-icon:after {
    bottom: -10px;
} */

/* Estilos para pantallas pequeñas */
/* @media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-links {
        display: none;
        grid-auto-flow: row;
        background-color: #0c2035;
        color: whitesmoke;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 10px;
    }

    .navbar-links.active {
        display: grid;
    }

    .nav-link {
        text-align: center;
    }
} */

/* IMAGENES  */
.titulo-bienvenida{
    position: absolute;
    color: whitesmoke;
    left: 45%;
    
}
.imagen-principal{
    width: 100%;
}


/* CARDS */
.contendor-cards {
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    background-color: #0c2035;
  }
  
  .bloque {
    width: 30%;
    border: 3px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .titulo-bloque {
    font-size: 1.5rem;
    color: whitesmoke;
    text-align: center;
}

.texto-bloque {
    font-size: 1rem;
    color: whitesmoke;
  }
  
  .boton-bloque {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    
  }
  
  .boton-bloque:hover {
    background-color: #0056b3;
  }

  /* EMPIZA FORM */
  #nombre-form{
    width: 30%;
    margin: 0 auto;
    padding-top: 2em;
}
#email-form {
    width: 30%;
    margin: 0 auto;
}

.fondo{
    background-color: #0c2035; /*#2c475f*/
    padding-top: 3em;
}
#titulo-form{
    color: whitesmoke;
    text-align: center;
    
}
#monto-form{
    width: 30%;
    margin: 0 auto;
}
#select2{
    width:30%;
    margin: auto;
    margin-bottom: 1em;
}

#select{
    
    width: 30%;
    margin: auto;
    margin-bottom: 1em;
}
label{
    color: whitesmoke;
    

}
#contenedor-check{
    display: block;
    margin: 0 auto;
    width: 18%;
    margin-bottom: 2em;

}
#botonera {
    text-align: center;
  }
  
  .custom-button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #boton-borrar {
    background-color: #dc3545; /* Color de fondo rojo */
    color: #fff; /* Color de texto blanco */
  }
  
  #boton-calcular {
    background-color: #007bff; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
  }
  
/* TERMINA FORM */
  /* FOOTER */
  .contendor-footer{
    background-color: #0c2035;
    height: 70px;
    
  }

  .lista-footer {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    

    
  }
  
  .lista-footer li {
    margin: 0 15px;

  }
  
  .lista-footer a {
    text-decoration: none;
    color: whitesmoke; 
}
  