
.custom-navbar{

    background-color: #0c2035;
    height: 6em;
    
}
.custom-navbar a {
    color: whitesmoke;
    font-size: 1.5em;
}

.accordion .accordion-header {
    background-color: #0c2035 ;
    color: whitesmoke;
}
.accordion-button {
    color:whitesmoke;
}

.accordion .accordion-body {
    background-color: #0c2035; 
    color: whitesmoke;
}
.accordion .accordion-button.collapsed {
    background-color: #0c2035; 
    color: whitesmoke;
}
