html{
    scroll-behavior: smooth;    
    
}

body {
    margin: 20px;
    padding: 0;
    font-family: Consolas, sans-serif;
    background-color: #0c2035;
    }

.custom-navbar {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr; /* Modificado: Cambiado el orden de las columnas */
    align-items: center;
    background-color: #040f1b;
    color: whitesmoke;
    padding: 25px;
    z-index: 100;
    }

.custom-navbar .navbar-logo {
    grid-column: 1; /* Modificado: Posiciona la columna del logo en la primera posición */
    }

.custom-navbar .navbar-links {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    padding: 0 5px;/* Ajuste del espacio en los bordes del contenedor de enlaces */
    justify-self: start; /* Ajuste de los enlaces a la izquierda */
    }

.custom-navbar .navbar-links .nav-link{
    padding: 2px;/* Ajuste del tamaño del enlace */
}    

.custom-navbar .navbar-links .nav-link:first-child {
    margin-left: 20px; /* Modificado: Agrega margen izquierdo */ 
    }
    
    .navbar-links a {
        color: whitesmoke;
        font-size: 1.5em;
        align-items: start;
        font-family: sans-serif;
        transition: color 0.3s;
        text-decoration: none; 
    }

    .navbar-links > a:hover{
        border-radius: .5em;
        color: wheat;
        cursor: pointer;
        box-shadow:0px 0px 50px #50ffff;
        transition: box-shadow 0.3s;
        
        background-color: #007bff;
        border: none;}
    


.navbar-logo {
    img {
        max-height: 40px;
        vertical-align: middle;
    }
}

#img{                 /*Modificado: Sombra y animación ícono*/
    margin: 0;
}

#img:hover{
    filter:drop-shadow(0px 0px 30px #50ffff);
    cursor: pointer;
}



.navbar-links {
    display: grid;
    grid-auto-flow: column;
    gap: 50px;
}


/* Generaba conflicto con las modificaciones de 
posicionamiento, puse el :hover en .custom-navbar a

.nav-link {
    text-decoration: none;
    color: whitesmoke;
    transition: color 0.3s;


.nav-link :hover {
    color: wheat;
}*/

.navbar-toggler {
    display: none;
    cursor: pointer;
}

.navbar-icon {
    display: block;
    width: 30px;
    height: 2px;
    background-color: whitesmoke;
    position: relative;
}





/* .navbar-icon:before, .navbar-icon:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.navbar-icon:before {
    top: -10px;
}

.navbar-icon:after {
    bottom: -10px;
} */

/* Estilos para pantallas pequeñas */
/* @media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-links {
        display: none;
        grid-auto-flow: row;
        background-color: #0c2035;
        color: whitesmoke;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 10px;
    }

    .navbar-links.active {
        display: grid;
    }

    .nav-link {
        text-align: center;
    }
} */

/* IMAGENES  */
.titulo-bienvenida{
    position: absolute;
    color: whitesmoke;
    left: 45%;
    
}
.imagen-principal{
    width: 100%;
}



/* CARDS */

.contenedor-seccion{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    background-color: #0c2035;
}
#titulo-servicios{
    background-color: #040f1b;
    color: whitesmoke;
    text-align: center;
    margin: 0;
    width: 100%;
    font-size: 350%;
}
.contendor-cards {
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    background-color: #0c2035;
  }
  
  .bloque {
    width: 30%;
    border: 3px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #040f1b;
  }
  
  .titulo-bloque {
    font-size: 1.5rem;
    color: whitesmoke;
    text-align: center;
}

.texto-bloque {
    font-size: 1rem;
    color: whitesmoke;
  }
  
  .boton-bloque {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    flex-direction: column;
    align-items: center;    
  }
  
  .boton-bloque:hover {
    background-color: #0056b3;
  }

  /* EMPIZA FORM */
  #titulo-form{
    color: whitesmoke;
    text-align: center;
    font-size: 350%;
    background-color: #040f1b;
    width: 100%;
}
  #nombre-form{
    width: 65%;
    margin: 0 auto;
    padding-top: 2em;
}
#email-form {
    width: 65%;
    margin: 0 auto;
}

.fondo{
    background-color: #0c2035; /*#2c475f*/
    padding-top: 6%;
    display: flex;
    justify-content: center;
    padding-bottom: 20%;

}
section{
    border: 3px solid whitesmoke;
    width: 50%;
    height:35%;
    padding-bottom: 5%;
    padding-top: 5%;
    
}

#monto-form{
    width: 40%;
    margin: 0 auto;
}
#select2{
    width:65%;
    margin: auto;
    margin-bottom: 1em;
}

#select{
    
    width: 65%;
    margin: auto;
    margin-bottom: 1em;
}
label{
    color: whitesmoke;
    

}
#contenedor-check{
    display: block;
    margin: 0 auto;
    width: 35%;
    margin-bottom: 2em;

}
#botonera {
    text-align: center;
    
  }
  
  .custom-button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #boton-borrar {
    background-color: #dc3545; /* Color de fondo rojo */
    color: #fff; /* Color de texto blanco */
  }
  
  #boton-calcular {
    background-color: #007bff; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
  }
  
/* TERMINA FORM */
  /* FOOTER */
  .contendor-footer{
    background-color: #040f1b;
    height: 70px;
    
  }

  .lista-footer {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    

    
  }
  
  .lista-footer li {
    margin: 0 15px;

  }
  
  .lista-footer a {
    text-decoration: none;
    color: whitesmoke; 
}
  