html{
    scroll-behavior: smooth;    
    
}

body {
    margin: 20px;
    padding: 0;
    font-family: Consolas, sans-serif;
    background-color: #0c2035;
    }



/*MODIFICANDO!*/

.custom-navbar {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr; /* Modificado: Cambiado el orden de las columnas */
    align-items: center;
    background-color: #040f1b;
    color: whitesmoke;
    padding: 25px;
    z-index: 1;
}


.custom-navbar .navbar-logo {
    grid-column: 1; /* Modificado: Posiciona la columna del logo en la primera posición */
    }

.custom-navbar .navbar-links {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    padding: 0 5px;/* Ajuste del espacio en los bordes del contenedor de enlaces */
    justify-self: start; /* Ajuste de los enlaces a la izquierda */
    }

.custom-navbar .navbar-links .nav-link{
    padding: 2px;/* Ajuste del tamaño del enlace */
}    

.custom-navbar .navbar-links .nav-link:first-child {
    margin-left: 20px; /* Modificado: Agrega margen izquierdo */ 
    }
    
    .navbar-links li {
        margin-left: 1rem;
        list-style: none;
    }


    .navbar-links li a {
        color: whitesmoke;
        font-size: 1.5em;
        align-items: start;
        font-family: sans-serif;
        transition: color 0.3s;
        text-decoration: none; 
    }

    .navbar-links li a:hover{
        border-radius: .5em;
        color: wheat;
        cursor: pointer;
        box-shadow:0px 0px 50px #50ffff;
        /* box-shadow:0px 0px 50px none; */
        transition: box-shadow 0.3s;
        
        background-color: none;
        background-color: #007bff;
        border: none;}
    

        .navbar-links ul{
            display: flex;
            align-items: flex-start;
        }
    


        .navbar-logo {
            img {
                max-height: 40px;
                vertical-align: middle;
            }
        }


/*CONTENEDORES DE IMAGEN*/

.imagen-principal-1 {
    /* position: relative; */
    
    display: grid;
    /* background-color: #040f1b; */
    grid-template-columns: 1fr; /* Un columna */
    grid-template-rows: 700px; /* Altura del contenedor padre (ajusta según tus necesidades) */
    background-color: aqua;
    color: whitesmoke;
    padding: 0;
    z-index: 1;
    margin:auto;
}


/*grid en el contenido no sirve*/
#imagen-principal{
    height: 100%;
    width: 100%;
    display: block;    
    margin: 0px auto 0 auto;
    /* margin-top: 200px; */
}


#img{                 /*Modificado: Sombra y animación ícono*/
    margin: 0;
}

#img:hover{
    filter:drop-shadow(0px 0px 30px #50ffff);
    cursor: pointer;
}


/*Ícono Hamburguesa*/
.menu-icon, #check{
    display: none;
    
}

.menu-icon img{
    width: 54px;
    height: 54px;
    border-radius: 2px;
    color: black;
}



.navbar-links {
    display: grid;
    grid-auto-flow: column;
    gap: 50px;
}


/* Generaba conflicto con las modificaciones de 
posicionamiento, puse el :hover en .custom-navbar a

.nav-link {
    text-decoration: none;
    color: whitesmoke;
    transition: color 0.3s;


.nav-link :hover {
    color: wheat;
}*/

.navbar-toggler {
    display: none;
    cursor: pointer;
}

.navbar-icon {
    display: block;
    width: 30px;
    height: 2px;
    background-color: whitesmoke;
    position: relative;
}





/* .navbar-icon:before, .navbar-icon:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.navbar-icon:before {
    top: -10px;
}

.navbar-icon:after {
    bottom: -10px;
} */

/* Estilos para pantallas pequeñas */
/* @media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-links {
        display: none;
        grid-auto-flow: row;
        background-color: #0c2035;
        color: whitesmoke;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 10px;
    }

    .navbar-links.active {
        display: grid;
    }

    .nav-link {
        text-align: center;
    }
} */

/* IMAGENES  */
.titulo-bienvenida{
    position: absolute;
    color: whitesmoke;
    left: 45%;
    
}



/* CARDS */

.contenedor-seccion{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    background-color: #0c2035;
}
#titulo-servicios{
    background-color: #040f1b;
    color: whitesmoke;
    text-align: center;
    margin: 0;
    width: 100%;
    font-size: 350%;
    text-decoration: none;
    
}

#titulo-servicios:hover{
color: aqua;
}

.contendor-cards {
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    background-color: #0c2035;
  }
  
  .bloque {
    width: 30%;
    border: 3px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #040f1b;
  }
  
  .bloque button {
    background-color: #040f1b;
    /* font-size: 5rem;
    padding: 5px 10px; */
    border: 2px solid #040f1b;
    border-radius: .5rem;
    /* width: 110px; 
    height: 30px; */
    transition: box-shadow 0.3s;
    z-index: 1;
    color: wheat;
    font-family: sans-serif;
    font-size: 1.5rem;
  }


  .titulo-bloque {
    font-size: 1.5rem;
    color: whitesmoke;
    text-align: center;
}

.texto-bloque {
    font-size: 1rem;
    color: whitesmoke;
  }
  
  .boton-bloque {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    flex-direction: column;
    align-items: center;    
  }
  
  .boton-bloque:hover {
    background-color: #0056b3;
  }

  /* EMPIZA FORM */
  #titulo-form{
    color: whitesmoke;
    text-align: center;
    font-size: 350%;
    background-color: #040f1b;
    width: 100%;
    text-decoration: none;
}

#titulo-form:hover{
    color: aqua;
}


  #nombre-form{
    width: 65%;
    margin: 0 auto;
    padding-top: 2em;
}
#email-form {
    width: 65%;
    margin: 0 auto;
}

.fondo{
    background-color: #0c2035; /*#2c475f*/
    padding-top: 6%;
    display: flex;
    justify-content: center;
    padding-bottom: 20%;

}
section{
    border: 3px solid whitesmoke;
    width: 50%;
    height:35%;
    padding-bottom: 5%;
    padding-top: 5%;
    
}


#select2{
    width:65%;
    margin: auto;
    margin-bottom: 1em;
}

#select{
    
    width: 65%;
    margin: auto;
    margin-bottom: 1em;
}
label{
    color: whitesmoke;
    

}
#contenedor-check{
    display: block;
    margin: 0 auto;
    width: 35%;
    margin-bottom: 2em;

}
#botonera {
    text-align: center;
    padding-bottom: 5%;
  }
  
  .custom-button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #boton-borrar {
    background-color: #dc3545; /* Color de fondo rojo */
    color: #fff; /* Color de texto blanco */
  }
#boton-calcular{
    background-color: #007bff;
    color: whitesmoke;
}

#seccion-pagar{
    border: 3px solid whitesmoke;
    width: 50%;
    height:35%;
    padding-bottom: 5%;
    padding-top: 5%;
    margin: 0 auto;
 display: none;
    
}
#seccion-pagar h3{
    color: whitesmoke;
    text-align: center;
}



  #boton-pagar{
    background-color: rgb(54, 159, 54); /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
  }
  #monto-form{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-top: 3%;
    text-align: center;

}
#nombre-pagar , #correo-pagar, #servicio-pagar{
    text-align: center;
}

p{
    color: whitesmoke;
}




#monto{
 text-align: center;

}
#botonera2 {
    display:block;
    text-align: center;
    padding-top: 3%;
    
  }


/* TERMINA FORM */
  /* FOOTER */
  .contendor-footer{
    background-color: #040f1b;
    height: 70px;
    
  }

  .lista-footer {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    

    
  }
  
  .lista-footer li {
    margin: 0 15px;

  }
  
  .lista-footer a {
    text-decoration: none;
    color: whitesmoke; 
}
  







/* Reordena los elementos según la disposición y el tamaño de la ventana */
@media screen and (max-width: 900px) {
    .custom-navbar {
        display: grid;
        grid-template-columns: 1fr; /* Ajustado a una sola columna */
        
                            ;
        text-align: center; /* Alineación de texto al centro */
        padding: 12px; /* Reducción del padding */
    }

    

    .navbar-links a {
        display: none;
    }
    
  

    .custom-navbar .navbar-links {
        display: flex; /* Cambiado: Utiliza flexbox para alinear horizontalmente */
        justify-content: center; /* Alinea los enlaces al centro */
        gap: 10px;
        padding: 0 5px; /* Ajuste del espacio entre enlaces */
    }

    /*.navbar-logo {
        img {
            height: 20px;
            width: 20px;
            max-height: 40px;
            vertical-align: middle;
        } */
    
    
    
    #img{                 /*Modificado: Sombra y animación ícono*/
        margin: 0;
    
        
    }
    
    #img:hover{
        filter:drop-shadow(0px 0px 15px #50ffff);
        cursor: pointer;
        z-index: -1;
    }
    
    
    
    .navbar-links {
        display: grid;
        grid-auto-flow: column;
        gap: 50px;
    }
    
    
        .imagen-principal-1 {
    /* position: relative; */
    
    display: grid;
    /* background-color: #040f1b; */
    grid-template-columns: 1fr; /* Un columna */
    grid-template-rows: 500px; /* Altura del contenedor padre (ajusta según tus necesidades) */
    background-color: aqua;
    color: whitesmoke;
    padding: 0;
    z-index: 1;
    margin:auto;
}


/*grid en el contenido no sirve*/
#imagen-principal{
    height: 100%;
    width: 100%;
    display: block;    
    margin: 0px auto 0 auto;
    /* margin-top: 200px; */
}

/*SECCIONES*/
.contenedor-seccion{
    display: flex;
    justify-content: center;
    padding:0;
    background-color: #0c2035;
    margin: 0;
}
#titulo-servicios{
    background-color: #040f1b;
    color: whitesmoke;
    text-align: center;
    /*      top,right,bottom,left*/
    margin: 0px auto 0px auto;
    width: 100%;
    font-size: 300%;
}

    
.bloque button {
    background-color: #040f1b;
    /* font-size: 5rem;
    padding: 5px 10px; */
    border: 2px solid #040f1b;
    border-radius: .5rem;
    /* width: 110px; 
    height: 30px; */
    transition: box-shadow 0.3s;
    z-index: 1;
    color: wheat;
    font-family: sans-serif;
    font-size: 1.5rem;
  }

.bloque button:hover {
    border-radius: .5em;
        color: wheat;
        cursor: pointer;
        box-shadow:0px 0px 50px #50ffff;
        
        
        background-color: #007bff;
        border: none;
}  

.checkbtn{
    display: block;
}
.menu-icon{
    display: block;
    position: fixed;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

/*MENÚ DESPLEGABLE*/
.navbar-links ul{
    display: block;
    position: fixed;
    top: 88px; 
    left:-150%;
    background-color: rgba(34, 34, 34, 1);
    width: 100%;
    height: 100vh;
    right: 0;
}


.navbar-links ul li {
    padding: 2rem;
    margin: 0 50px 0 0;
}


 .navbar-links ul li a {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 1em;
    color: whitesmoke;
    /* align-items: start; */
    font-family: sans-serif;
    transition: color 0.3s;
    text-decoration: none;
} 


.navbar-links li a:hover{
    border-radius: .5em;
    color: wheat;
    cursor: pointer;
    /* box-shadow:0px 0px 50px #50ffff; */
    box-shadow:none ;
    transition: box-shadow 0.3s;
    
    /* background-color: #007bff; */
    background-color: transparent;
    border: none;}


#check:checked ~ ul {
    left:0;
    transition: all .25s;
}


/* Cierra el menú cuando se hace clic en un enlace interno */
.navbar-links:target {
    left: -100%; /* Oculta el menú */
  }
  

img:hover{
    cursor: pointer;
    filter:drop-shadow(0px 0px 15px #50ffff);
    transition: box-shadow 0.3s;
    }

}




@media (max-width: 768px){
    .custom-navbar{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ; /* Ajustado a una sola columna */;
    
        text-align: center; /* Alineación de texto al centro */
        padding: 12px; /* Reducción del padding */       
    }

    .custom-navbar li{
        margin-bottom: 10px;
    }

    .contenedor-seccion #titulo-form{
        
        font-size: 40px;
    }


    .contendor-cards {
        padding-top: 5%;
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column;
        background-color: #0c2035;
      }
      

    
    .bloque {
        width: 100%;
        border: 3px solid #ccc;
        border-radius: 5px;
        margin: 10px 0px;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: flex-start;
        background-color: #040f1b;
      }

      

    .contenedor-seccion .fondo {
        width: 100%;
        padding: 20px; /* Añade un relleno si es necesario */
        margin: 0; /* Elimina cualquier margen */
        box-sizing: border-box; /* Asegura que el relleno y el borde no aumenten el ancho */
        background-color: #040f1b;
         
        }
    
}



